.cards {
	display: flex;
	flex-wrap: wrap;
}



.card {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px;
	background-color: #ededed;
	flex-basis: 260px;
	flex-grow: 1;

}

.card img {
	width: 150px;
	border-radius: 6px;
}

.card h3 {
	padding-left: 25px;
	font-size: 18px;
	flex-grow: 1;

}

.card a {
	background-color: #f1d3df;
}

#makeup {
	background-color: #e7cfae;
}

#tools {
	background-color: #2a937a;
}

